h2 {
    font-size: large;
    font-weight: bold;
}

img {
    width: 400px;
    background-size: cover;
}

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    list-style-type: none;
    padding: 10px;
}